/*main style*/

.font-style {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0;
}

/*backgrounds*/

.dark-background {
    background-color: #1F2937;
}

.light-background {
    background-color: #E5E7EB
}

.blue-background {
    background-color: #3882F6;
}

/*text colors*/

.white {
    color: #F9FAF8;
}

.light-grey {
    color: #E5E7EB;
}

.black {
    color: #1F2937;
}

/*font sizes/styles*/

.main-text {
    font-size: 48px;
    font-weight: 800;
}

.secondary-text {
    font-size: 18px;
}

.logo-text {
    font-size: 24px;
}

.info-text {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin: 30px;
}

.bold {
    font-weight: 800;
}


/*navigation*/

.navigation {
    display: flex;
}

/*navigation link list*/

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 20px;
}

/*information FINISHED*/

.infoflex {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.box {
    width: 150px;
    height: 150px;
    border: solid #3882F6;
    border-width: 4px;
    border-radius: 20%;
    margin: auto;
}

.infotext {
    text-align: center;
    max-width: 170px;
    margin: 20px;
}

/*quote FINISHED*/

.quote-text {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    padding: 120px;
    flex-wrap: wrap;
}

.endquote {
    text-align: right;
    font-weight: 800;
    font-size: 24px;
}

/*call to action*/

.action {
    display:
}


/*footer FINISHED*/

.footer {
    text-align: center;
}

.footertext {
    padding: 30px 0px;
}