/*main style*/

.font-style {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0;
}

/*backgrounds*/

.dark-background {
    background-color: #1F2937;
}

.light-background {
    background-color: #E5E7EB
}

.blue-background {
    background-color: #3882F6;
}

/*text colors*/

.white {
    color: #F9FAF8;
}

.light-grey {
    color: #E5E7EB;
}

.black {
    color: #1F2937;
}

/*font sizes/styles*/

.main-text {
    font-size: 48px;
    font-weight: 800;
}

.secondary-text {
    font-size: 18px;
}

.logo-text {
    font-weight: 800;
    font-size: 24px;
}

.info-text {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin: 30px;
}

.bold {
    font-weight: 800;
}


/*navigation FINISHED*/

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 30px;
}


.naviflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

li:hover {
    box-shadow: inset 200px 0 0 0 #003b8f;
}

/*header*/

.headerflex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
}

.headerinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 100px;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    min-width: 550px;
    min-height: 300px;
    margin: 70px 50px;
}

/*information FINISHED*/

.infoflex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.box {
    width: 170px;
    height: 170px;
    border: solid #3882F6;
    border-width: 4px;
    border-radius: 20%;
    margin: auto;
}

.infotext {
    text-align: center;
    max-width: 170px;
    margin: 20px;
}

/*quote FINISHED*/

.quote-text {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    padding: 120px;
    flex-wrap: wrap;
}

.endquote {
    text-align: right;
    font-weight: 800;
    font-size: 24px;
}

/*call to action*/

.action {
    border: solid #3882F6;
    border-radius: 10px;
    border-width: 20px;
    margin: 50px 100px;
}

.actionflex {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 170px;
    padding: 20px 30px
}

.button {
    color:#F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 800;
    padding: 3px 24px;
    border: 3px solid #F9FAF8;
    border-radius: 5px;
    min-width: 200px;
    min-height: 40px;
}

.button:hover {
    box-shadow: inset 200px 0 0 0 #003b8f
}

.buttoncontainer {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

/*footer FINISHED*/

.footer {
    text-align: center;
}

.footertext {
    padding: 30px 0px;
}